<div class="container" id="home-container">
  <div class="text-center text-white">
    <h1>Ruby On Rails Challenge</h1>

    <%= form_with(url: "insertDatabase", local: true) do |f| %>
      <div class="form-group row">
        <%= f.label :Upload_File, class: "col-2 col-form-label text-light" %>
        <div class="col-10">
          <%= f.file_field :file, class: "form-control shadow rounded", placeholder: "Select ...", accept:".csv" %>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <%= f.submit "Submit", class: "btn btn-outline-light btn-lg",id:"submit-file" %>
      </div>
    <% end %>
  </div>
<!--  <div class="col-md-12">-->
<!--    <form class="search">-->
<!--      <input type="text" name="search" id="search" placeholder="Search..." autofocus="autofocus">-->
<!--    </form>-->
<!--    <div class="flickr_pagination">-->
      <%#= will_paginate @person, :container => false %>
<!--    </div>-->
<!--    <table class="table">-->
<!--      <thead>-->
<!--       <tr>-->
<!--         <th><%#= sortable "first_name" %></th>-->
<!--         <th><%#= sortable "last_name" %></th>-->
<!--         <th><%#= sortable "gender" %></th>-->
<!--         <th><%#= sortable "weapon" %></th>-->
<!--         <th><%#= sortable "vehicle" %></th>-->
<!--         <th><%#= sortable "species" %></th>-->
<!--       </tr>-->
<!--      </thead>-->
<!--      <tbody>-->

      <%# if @person!=nil %>
        <%# @person.each do |row| %>
<!--          <tr>-->
<!--            <td><%#=row.first_name%></td>-->
<!--            <td><%#=row.last_name%></td>-->
<!--            <td><%#=row.gender%></td>-->
<!--            <td><%#=row.weapon%></td>-->
<!--            <td><%#=row.vehicle%></td>-->
<!--            <td><%#=row.species%></td>-->
<!--          </tr>-->
        <%# end %>
      <%# end %>
<!--      </tbody>-->
<!--    </table>-->
<!--    <div class="flickr_pagination">-->
      <%#= will_paginate @person, :container => false %>
<!--    </div>-->
<!--  </div>-->
</div>
<script>
    $(document).on("keyup", "#search", function(e) {
        e.preventDefault();
        $.get($("form.search").attr("action"), $("form.search").serialize(), null, "json");
        return false;
    });
</script>



